.promo{
    position: relative;
    height: 700px;
    background: url('../img/header_bg.png') center center/cover no-repeat;
    padding-top: 40px;
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        width: 540px;
        list-style: none;
        &_item{
            padding-right: 40px;
            padding-top: 24px;
            &:last-child{
                padding-right: 0;
            }
        }
        &_link{
            font-size: 13px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            
        }
    }
    &__wrapper{
        padding-top: 132px;
        padding-bottom: 195px;
    }
    &__descr{
        margin-bottom: 0;
        font-size: 42px;
        line-height: 48px;
        font-weight: 900;
        color: #ffffff;
        width: 528px;
    }
    &__text{
        width: 425px;
        padding-top: 27px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
        span{
            font-weight: 400;
        }
    }
    &_btn{
        margin-top: 39px;
    }
    &__phone_1{
        position: absolute;
        bottom: 0;
        right: 187px;
        z-index: 2;
    }
    &__phone_2{
        position: absolute;
        bottom: 0;
        z-index: 1;
        right: 337px;
    }
}